openapi: 3.0.1
info:
  title: dalle Plugin
  description: Plugin to imagine images and retrieving images.
  version: 'v1'
servers:
  - url: https://sea-turtle-app-us8bf.ondigitalocean.app/
paths:
  api/hello:
    post:
      operationId: imagine
      summary: Retrieve an image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addPrompt'
      responses:
        '200':
          description: Succesfully retrieved the image
          content:
            application/json:
              schema:
                type: object
                properties:
                  img: 
                    type: string
                    description: The markdown image link containing the imagined image
        '400':
          description: There was an error with the generation 
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: 
                    type: string
                    description: The error description

  api/explain:
    post:
      operationId: explain
      summary: Answer a question to a given image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#components/schemas/answerQuestion'

      responses:
        '200':
          description: Succesfully answer the question about the image 
          content:
            application/json:
              schema:
                type: object
                properties:
                  img: 
                    type: string
                    description: The answer to the given question about the image
        '400':
          description: There was an error answering the question 
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: 
                    type: string
                    description: The error description

components:
  schemas:
    addPrompt:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
          description: the prompt used by the api.
          required: true
    answerQuestion:
      type: object
      required:
        - imageToExplain
        - question
      properties:
        imageToExplain:
          type: string
          description: the image that the api will use to give an aswer.
          required: true
        question:
          type: string
          description: the question that the api will answer.
          required: true
